{% include 'header.twig' %}
{% include 'top-bar.twig'%}

<body>
    <a href="index.php">home</a>

    {% for row in data %}
        <div class="event-panel">
            <a href="event-info.php?id={{ row.event_id }}"><h1>{{ row.title }}</h1></a>
            <p>{{ row.events_description }}</p>
            <p>Type: {{row.event_type}}</p>
            <p>Starts: {{row.start_time}}</p>
            <p>Ends: {{row.end_time}}</p>
            {% if row.joined %}
                <a class="btn btn-danger" href="php/student/register-item.php?type=event&id={{ row.event_id }}&action=leave" role="button">Leave</a>
            {% else %}
                <a class="btn btn-primary" href="php/student/register-item.php?type=event&id={{ row.event_id }}&action=join" role="button">Join</a>
            {% endif %}
        </div>
    {% endfor %}
</body>

{% include 'footer.twig' %}