{% include 'header.twig' %}
{% include 'top-bar.twig'%}

<body>
    <a href="index.php">home</a>

    <table>
        <tr>
            <th>Campus</th>
            <th>Day</th>
            <th>Opens</th>
            <th>Closes</th>
        </tr>

        {% for time in gym_times %}
            <tr>
                <td>{{ time.campus_name }}</td>
                <td>{{ time.day_of_week }}</td>
                <td>{{ time.opens_at }}</td>
                <td>{{ time.closes_at }}</td>
            </tr>
        {% endfor %}
    </table>

    {% for class in gym_classes %}
        <h1>{{class.class_name}}</h1>
        <h3>{{class.campus_name}}</h3>
        <h5>{{class.location}}</h5>
        <p>Start: {{class.start_time}}</p>
        <p>End: {{class.end_time}}</p>
    {% endfor %}

</body>

{% include 'footer.twig' %}
